@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

body{
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #F0F4F3;*/
    background: url("../img/fondo.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background-color: transparent;
    backdrop-filter: blur(50px);
    border-radius: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header.abajo{
   background: #fff;
   padding: 15px 20px; 
}

header::after{
    transition: transform .5s;
    background-color: red;
}

.logo{
    font-size:  2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scale(1);
}

.navigation .btnLogin-popup a{
    width: 130px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: 3s;
}

/*Estilos del formulario*/

.sign-in a{
    text-decoration: none;
}


/*Parte del formulario, prodria decirse como el cuadro que esta en el formulario*/
.container{
    top: 7%;
    width: 800px;
    height: 600px;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0,0,0.3);
}

.container-form{
    width: 100%;
    overflow: hidden;
}
.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.social-networks{
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.social-networks ion-icon{
    border: 2px solid #C9CCCB;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;

}

.container-form span{
    font-size: 12px;
    margin-bottom: 15px;
}

.container-input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #eeeeee;
}

.container-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.container-form a{
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.botton {
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #3ab397;
    color: white;
}

/*A partir de aqui empieza la animacion del formulario*/

.sign-up{
    transform: translateX(-100%);
}

.container.toggle .sign-in{
    transform: translateX(100%);
}

.container.toggle .sign-up{
    transform: translateX(0);
}

/*Animacion del Welcome*/
.container-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #3ab397;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    border-radius: 50% 0 0 50%;
}

.container.container.toggle .container-welcome{
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: #3aa8ad;
}

.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.welcome-sign-in{
    transform: translateX(100%);
}

.container-welcome h3{
    font-size: 40px;
}

.container-welcome p{
    font-size: 14px;
    text-align: center;
}

.container-welcome .botton{
    border: 2px solid white;
    background-color: transparent;
}

.container.toggle .welcome-sign-in{
    transform:  translateX(0);
}

.container.toggle .welcome-sign-up{
    transform:  translateX(-100%);
}
